@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

.quarto-title-banner,
.quarto-title,
h1, h2, h3, h4, h5, h6 {
    font-family: "Atkinson Hyperlegible", sans-serif;
}


/* --- Open Card projets --- */
.card {
    transition: transform 0.3s, box-shadow 0.3s; /* Durée de l'effet */
}

.card:hover {
    transform: scale(1.05); /* Zoom de 5% au survol */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Ombre au survol */
}
